[Unit]
Description=Bottie

[Service]
ExecStart=/usr/bin/bottie.py --address=ipc:///var/run/bottie.socket --device=kettle,ipc:///var/run/kettle.socket --device=light,ipc:///var/run/light.socket --device=lip_service,ipc:///var/run/lip_service.socket
Restart=on-failure

[Install]
WantedBy=multi-user.target
