[Unit]
Description=Bottie

[Service]
ExecStart=/usr/bin/bottie.py --address=ipc:///var/run/bottie.socket --device=kettle,ipc:///var/run/kettle.socket --device=lip_service,ipc:///var/run/lip_service.socket

[Install]
WantedBy=multi-user.target
