[Unit]
Description=Voice Recognizer

[Service]
Type=forking
ExecStart=/usr/bin/recognizer.py --subscribe_to=ipc:///var/run/ear.socket --push_to=ipc:///var/run/bottie.socket --model_dir=/usr/share/recognizer/model

[Install]
WantedBy=multi-user.target
